/* OverlayPanel */

.p-overlaypanel {
  @apply rounded-lg;
}

.p-overlaypanel .p-overlaypanel-close {
  @apply bg-transparent text-primary top-2 right-2;
}

.p-overlaypanel .p-overlaypanel-close:hover {
  @apply hover:bg-transparent hover:text-primary;
}

.p-overlaypanel-content {
  @apply rounded dark:text-primary dark:bg-elevation text-lg;
}

/* Splitter, SplitPanel */

.p-splitter {
  @apply border-0 bg-transparent;
}

.p-splitter .p-splitter-gutter {
  @apply dark:bg-elevation bg-gray-200 z-10;
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
  @apply bg-secondary;
}
